.list-page-container {
	width: 850px;
	height: 650px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	border-radius: 5%;
	padding: 40px 0;
	overflow: hidden;
	border: 1px solid #e9ecef;
	position: relative;

	.contributor-count {
		position: absolute;
		right: 20px;
		top: 20px;
		border: 1px solid darkred;
		padding: 5px;
		border-radius: 50%;
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 18px;
		color: #fff;
		font-weight: bold;
		background-color: darkred;
		cursor: default;
	}

	.todo-list-container {
		width: 92%;
		margin: 20px auto auto auto;
		border-top: 1px solid #e9ecef;
		padding: 10px;
		height: 335px;
		overflow: scroll;
	}

	.more-todos {
		opacity: 0.15;
		cursor: default;
		font-size: 50%;
		margin-bottom: 5px;
	}

	.active-todos {
		width: 100%;
		display: flex;
		justify-content: space-around;
		font-weight: bold;
		color: #343a40;
		align-items: center;
		border-color: darkred;

		a:hover {
			font-weight: normal;
			background-color: darkred;
		}

		.list-extras {
			display: flex;
			align-items: center;
			width: 33%;
			font-weight: normal;
			font-size: 0.9rem;
			color: darkred;
			justify-content: flex-end;

			a {
				margin-right: 10px;
			}
		}
	}

	.filter-buttons {
		height: 31px;
		width: 92%;
		display: flex;
		justify-content: space-around;
		border-top: 1px solid #e9ecef;
		padding-top: 10px;

		span {
			margin-right: 5px;
		}

		.bulk-actions {
			margin-left: 20px;
		}

		.search-input input {
			height: 31px;
		}

		.mag-glass {
			opacity: 0.4;
		}
	}

	#sort-arrow {
		margin-left: 10px;
		font-weight: bold;
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	}
}

.toast-container {
	display: flex;
	justify-content: center;
}
