.toast {
	width: 275px;
	height: 0;
	opacity: 0;
	display: inline-block;
	position: absolute;
	bottom: 5px;
	transition: all 1s;
	text-align: center;
	font-weight: bold;
	color: #fff;

	&.toast-error {
		opacity: 1;
		background-color: darkred;
		height: 45px;
	}

	&.toast-success {
		opacity: 1;
		background-color: darkgreen;
		height: 45px;
	}

	&.toast-emailSent {
		opacity: 1;
		background-color: darkgreen;
		height: 45px;
	}

	&.toast-passwordUpdated {
		opacity: 1;
		background-color: darkgreen;
		height: 45px;
	}

	&.toast-inviteAccepted {
		opacity: 1;
		background-color: darkgreen;
		height: 45px;
	}

	&.toast-listDeleted {
		opacity: 1;
		background-color: darkgreen;
		height: 45px;
	}

	&.toast-errorDeletingList {
		opacity: 1;
		background-color: darkred;
		height: 45px;
	}
}
