.contact-page-container {
	width: 850px;
	height: 650px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	border-radius: 5%;
	padding: 40px 0;
	overflow: hidden;
	border: 1px solid #e9ecef;
	position: relative;

	.contact-card-container {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: row;
		height: 400px;
		width: 800px;
	}

	.contact-card {
		height: 275px;
		width: 200px;

		&:hover {
			.contact-info h2 {
				font-weight: bold;
				cursor: default;
			}

			.contact-image {
				transform: scale(1.1);
				transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
			}
		}

		.contact-photo {
			height: 175px;
			width: 175px;
			border: 1px solid #e9ecef;
			border-radius: 50%;
			margin: 0 auto;
			overflow: hidden;

			.contact-image {
				&#sjohnson {
					height: 175px;
					width: 175px;
					background-size: cover;
					background-repeat: no-repeat;
				}

				&#nbernstein {
					height: 175px;
					width: 175px;
					background-size: cover;
					background-repeat: no-repeat;
				}

				&#jobryan {
					height: 175px;
					width: 175px;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}

		.contact-info {
			text-align: center;
			margin-top: 15px;
		}
	}
}
