.title-container {
	color: #343a40;

	.title {
		max-width: 800px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#title-input {
		width: 800px;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 500;
		line-height: 1.2;
		padding: 0px;
		margin-bottom: 0.5rem;
		margin-top: 0;

		&.empty {
			background-color: #ffbec4;
			border: 1px solid #dc3545;
			height: 48px;
		}

		&.filled {
			border: none;
		}
	}

	#edit-title {
		margin-left: 10px;
		font-size: 1.75rem;
	}

	&:hover {
		cursor: pointer;
	}
}

::placeholder {
	color: #dc3545;
	opacity: 0.65;
}
