.change-password-container {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 650px;
	background: #fff;
	border-radius: 3%;
	padding: 25px;
	border: 1px solid #e9ecef;

	.title {
		margin: 10px 0;
	}

	input {
		color: #343a40;

		&:disabled {
			color: #a7a7a7;
			border-bottom-color: #e9ecef;
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;

		.change-password {
			display: flex;
			justify-content: flex-end;

			.change-password-btn {
				display: flex;
				justify-content: center;
				margin: 10px 0;
				margin-left: 10px;

				&:disabled {
					cursor: not-allowed;
				}
			}
		}
	}

	#error-message {
		margin: 35px auto 0 auto;
		color: red;
		animation-duration: 3s;
		font-size: 1rem;
	}

	.toast-container {
		display: flex;
		justify-content: center;
	}
}
