.todo-container {
	display: flex;
	justify-content: center;

	&:hover {
		.todo-item {
			cursor: pointer;
			background-color: #f8f9fa;
		}
	}

	.todo-item {
		&.edit-input {
			background-color: #fff;
		}
	}

	.input-group-prepend,
	.checkbox-styled {
		cursor: pointer;
	}

	.edit-input-field {
		border: none;
		font-weight: bold;
		width: 100%;
		padding-left: 5px;
	}

	.complete {
		text-decoration: line-through;
		background-color: #f8f9fa;
		color: #c7c7c7;
	}

	.delete-todo {
		margin-left: 5px;
		width: 5%;
		background-color: #fff;
		color: #343a40;

		&:hover {
			cursor: pointer;
			background-color: #dc3545;
			color: #fff;
		}

		&:active {
			background-color: #bb2c3a;
		}

		&.disable-delete {
			cursor: not-allowed;
			background-color: #f8f9fa;
			opacity: 0.35;
			color: #c7c7c7;
		}
	}

	.edit-todo {
		margin-left: 5px;
		width: 5%;
		background-color: #fff;
		color: #343a40;

		&:hover {
			cursor: pointer;
			background-color: #007bff;
			color: #fff;
		}

		&:active {
			background-color: #0062ca;
		}

		&.disable-edit {
			cursor: not-allowed;
			background-color: #f8f9fa;
			opacity: 0.35;
			color: #c7c7c7;
		}

		&.editing {
			background-color: #0062ca;
			color: #fff;
		}
	}
}
