.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	.nav-title {
		text-decoration: none;
		font-weight: lighter;
		cursor: pointer;
		transition: color 0.2s ease;
		// color: #fff;

		&:hover {
			text-decoration: none;
			color: #fff;
		}
	}

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 25px;
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			padding: 10px 15px;
			cursor: pointer;
			transition: color 0.2s ease;

			&:hover {
				text-decoration: none;
				color: #fff;
				font-weight: normal;
			}
		}

		.profile-btn {
			width: 15%;

			&:hover {
				font-weight: normal;
			}

			.notification-badge {
				margin-left: 5px;
			}
		}
	}
}
